.home {
  min-height: 100vh;
    .homeContent {
      background: linear-gradient(155deg, $white 6%, transparent 0%);
      &:after {
        content: 'test';
        position: absolute;
        height: 100%;
        width: inherit;
        background: url('../../Img/bckgrnd5.jpeg') no-repeat center/cover;
        z-index: -1;
        filter: brightness(30%);
      }
      width: 100%;
      position: relative;
      overflow: hidden;
  
      
  
      .content {
        position: absolute;
        top: 20%;
        left: 5%;
        font-family: $font-1;
  
        h1 {
          font-size: 3rem;
          font-family: $font-3;
          color: $white;
          padding: 0 0rem 2rem;
          text-transform: uppercase;
          text-shadow: 1px 6px 2px $black;
          animation: showup 1s 1;
          @keyframes showup {
            0% {opacity:0;}
            100% {opacity:1;}
          }
        }
        h2 {
          font-size: 2rem;
          padding: 1.5rem 0;
          padding-right: 8.5rem;
          color: $white;
          text-shadow: 2px 2px 1px $black;
          animation: slidein 4s 1;
          @keyframes slidein {
            0% { margin-left:-2000px; }
            20% { margin-left:-2000px; }
            35% { margin-left:0px; }
            100% { margin-left:0px; }
          }
        }

        .pdf {
          margin-top: 5rem;
          a {
            font-size: 1.5rem;
            background: $color-3;
            padding: 1rem 2rem;
            border-radius: 12px;
            box-shadow: 0 5px 1px rgb(15, 15, 15);
            transition: 0.2s ease;
  
            &:hover {
              background: $color-6;
              color: $white;
            }
          }
        }
      }
    }
  }
  @media (max-width:992px){
    .homeContent {
      background: linear-gradient(160deg, $white 6%, transparent 0%) !important;
      &:after {
      background: url('../../Img/bckgrnd5.jpeg') no-repeat center/cover;
      }
      .content{
        top: 10% !important;
        h1 {
          padding: 1rem 0rem 1.5rem !important;
          font-size: 3rem !important;
        }
        h2 {
          padding: 1rem 0.5rem 2rem !important;
          font-size: 1.8rem !important;
          animation: none !important;
        }
        .pdf {
          margin: .5rem !important;
        }
      }
    }
  }